// Futura 
@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futurawinl.otf');
  font-weight: lighter;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futurawinli.otf');
  font-weight: lighter;
  font-weight: 100;
  font-style: italic;
}  

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futurawin.otf');
  font-weight: normal;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futurawinit.otf');
  font-weight: normal;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futurawinsb.otf');
  font-weight: normal;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futurawinsbi.otf');
  font-weight: normal;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futurawinb.otf');
  font-weight: bold;
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futurawinbi.otf');
  font-weight: bold;
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futurawinebl.otf');
  font-weight: bolder;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/futura/futurawinexbli.otf');
  font-weight: bolder;
  font-weight: 900;
  font-style: italic;
}

// Poppins 
@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Thin.ttf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-ExtraLight.ttf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-ExtraLightItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-MediumItalic.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-Black.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/poppins/Poppins-BlackItalic.ttf');
  font-weight: 800;
  font-style: italic;
}






