// Fonts
$primary-font-stack: 'Futura', helvetica, arial, sans-serif;
$secondary-font-stack: 'Poppins', helvetica, arial, sans-serif;

// Colors
$primary-white: #F8F8F8;
$secondary-white: #fafafa;
$primary-black: #3D3D3D;
$primary-dark-grey: #6A6A6A;
$primary-grey: #999999;
$primary-light-grey: #EEEDED;
$primary-dark: #52707C;
$primary-bright: rgba(82, 112, 124, 0.13);
$primary-light: #D7D0AE;
