// Fonts
$primary-font-stack: 'Futura', helvetica, arial, sans-serif;
$secondary-font-stack: 'Poppins', helvetica, arial, sans-serif;

// Colors
$primary-white: #f8f8f8;
$secondary-white: #fafafa;
$primary-black: #3d3d3d;
$primary-dark-grey: #6a6a6a;
$primary-grey: #999;
$primary-light-grey: #dfdfdf;
$primary-lighter-grey: #eeeded;
$primary-dark: #52707c;
$primary-light-dark: #808f95;
$primary-dark-bright: #d2dadd;
$primary-bright: #eff1f1;
$primary-darker-light: #d3cdad;
$primary-light: #d7d0ae;
$primary-lighter-light: #e9e3c9;
